body {background-image: url("https://img.fril.jp/shop/3365367/l/3365367.jpg?1493952815");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;}

#overlay.active {
  opacity: 1;
}

#popup {
  background: white;
  padding: 30px;
  max-width: 500px;
  width: 90%;
  border-radius: 16px;
  text-align: center;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
}

#overlay.active #popup {
  transform: translateY(0);
  opacity: 1;
}

#popup img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

#popup img:hover {
  transform: scale(1.03);
}

#popup button {
  margin-top: 20px;
  padding: 8px 16px;
  font-size: 14px;
}
.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  top: -5px;
  animation: fall 3s linear forwards;
}

@keyframes fall {
  to {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}
